In [ ]:

import pandas as pd
import numpy as np

In [ ]:

dataset=pd.read_excel('/content/Employee_Data.xls')

In [ ]:

dataset.isnull().sum()

Employee Id     0
First Name      0
Last Name       0
Department      9
Age             6
Experience     13
Salary          0
dtype: int64

In [ ]:

dataset

,Employee Id,First Name,Last Name,Department,Age,Experience,Salary
0,1,Camden,Savage,Asset Management,38.0,23.0,46975
1,2,Justina,Mcconnell,Customer Service,26.0,10.0,30711
2,3,Stewart,Moon,Human Resources,NaN,14.0,25049
3,4,Tobias,Fletcher,Public Relations,NaN,12.0,33309
4,5,Raja,Sims,Customer Service,NaN,13.0,25274
...,...,...,...,...,...,...,...
95,96,Nerea,Haney,Tech Support,52.0,16.0,17756
96,97,Nadine,Franks,Customer Relations,52.0,3.0,31886
97,98,Aquila,Jacobson,Quality Assurance,30.0,5.0,39812
98,99,Wang,Doyle,Research and Development,32.0,27.0,30742
99,100,Beau,Richardson,Quality Assurance,46.0,24.0,30128

In [ ]:

x = dataset.iloc[:, 3:7].values
print(x)

[['Asset Management' 38.0 23.0 46975]
 ['Customer Service' 26.0 10.0 30711]
 ['Human Resources' nan 14.0 25049]
 ['Public Relations' nan 12.0 33309]
 ['Customer Service' nan 13.0 25274]
 ['Advertising' nan 9.0 48583]
 ['Research and Development' nan 24.0 39697]
 ['Asset Management' nan 2.0 24163]
 ['Legal Department' 40.0 30.0 17160]
 ['Advertising' 24.0 23.0 35218]
 ['Legal Department' 35.0 3.0 10378]
 [nan 31.0 nan 18054]
 [nan 58.0 nan 20950]
 [nan 51.0 nan 27707]
 [nan 27.0 nan 18543]
 [nan 54.0 nan 16556]
 [nan 55.0 nan 24624]
 ['Media Relations' 58.0 nan 26379]
 ['Research and Development' 59.0 nan 28668]
 ['Media Relations' 45.0 4.0 47896]
 ['Sales and Marketing' 50.0 2.0 10446]
 ['Advertising' 55.0 19.0 47970]
 ['Tech Support' 40.0 20.0 38705]
 ['Advertising' 51.0 21.0 44061]
 ['Media Relations' 24.0 12.0 47644]
 ['Asset Management' 57.0 25.0 44466]
 ['Legal Department' 24.0 9.0 43138]
 ['Public Relations' 46.0 6.0 17115]
 ['Asset Management' 29.0 26.0 26752]
 ['Customer Relations' 46.0 13.0 38742]
 ['Quality Assurance' 30.0 29.0 27207]
 ['Accounting' 57.0 nan 16580]
 [nan 47.0 nan 39835]
 [nan 41.0 nan 14005]
 [nan 50.0 nan 32971]
 ['Public Relations' 49.0 nan 13493]
 ['Customer Relations' 28.0 6.0 42173]
 ['Public Relations' 44.0 29.0 13707]
 ['Finances' 40.0 19.0 47709]
 ['Advertising' 30.0 25.0 28008]
 ['Finances' 56.0 21.0 34554]
 ['Accounting' 26.0 24.0 19193]
 ['Finances' 44.0 16.0 30316]
 ['Payroll' 36.0 28.0 46823]
 ['Tech Support' 43.0 24.0 35938]
 ['Finances' 47.0 15.0 39658]
 ['Finances' 29.0 11.0 31321]
 ['Customer Service' 52.0 7.0 39403]
 ['Customer Relations' 42.0 23.0 14700]
 ['Tech Support' 44.0 5.0 45923]
 ['Finances' 23.0 8.0 41753]
 ['Payroll' 57.0 16.0 36226]
 ['Asset Management' 40.0 9.0 20730]
 ['Media Relations' 28.0 24.0 12302]
 ['Advertising' 53.0 7.0 27565]
 ['Accounting' 56.0 3.0 28177]
 ['Customer Relations' 48.0 20.0 19573]
 ['Customer Service' 54.0 7.0 23919]
 ['Media Relations' 37.0 2.0 23086]
 ['Advertising' 57.0 8.0 47216]
 ['Human Resources' 50.0 17.0 16601]
 ['Legal Department' 46.0 9.0 29830]
 ['Media Relations' 28.0 3.0 48433]
 ['Legal Department' 26.0 14.0 38495]
 ['Payroll' 54.0 11.0 45829]
 ['Public Relations' 31.0 18.0 30211]
 ['Legal Department' 33.0 2.0 24889]
 ['Media Relations' 48.0 27.0 46795]
 ['Quality Assurance' 41.0 20.0 45694]
 ['Human Resources' 44.0 1.0 31188]
 ['Tech Support' 38.0 28.0 43094]
 ['Accounting' 34.0 11.0 19770]
 ['Quality Assurance' 28.0 27.0 11400]
 ['Advertising' 23.0 23.0 21172]
 ['Customer Relations' 52.0 12.0 33047]
 ['Finances' 33.0 22.0 37592]
 ['Human Resources' 45.0 28.0 22892]
 ['Legal Department' 37.0 30.0 23638]
 ['Research and Development' 26.0 27.0 36547]
 ['Asset Management' 54.0 19.0 19984]
 ['Tech Support' 51.0 29.0 49148]
 ['Quality Assurance' 26.0 20.0 29873]
 ['Accounting' 26.0 10.0 14492]
 ['Customer Service' 35.0 4.0 22641]
 ['Sales and Marketing' 38.0 23.0 23241]
 ['Tech Support' 33.0 14.0 15562]
 ['Advertising' 38.0 17.0 43610]
 ['Accounting' 43.0 21.0 13862]
 ['Accounting' 32.0 7.0 31156]
 ['Media Relations' 32.0 15.0 28937]
 ['Human Resources' 51.0 7.0 16570]
 ['Public Relations' 25.0 4.0 16767]
 ['Asset Management' 58.0 23.0 29678]
 ['Accounting' 41.0 25.0 24453]
 ['Finances' 25.0 24.0 10540]
 ['Tech Support' 52.0 16.0 17756]
 ['Customer Relations' 52.0 3.0 31886]
 ['Quality Assurance' 30.0 5.0 39812]
 ['Research and Development' 32.0 27.0 30742]
 ['Quality Assurance' 46.0 24.0 30128]]

In [ ]:

from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='median')
imputer=SimpleImputer().fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])
print(x)

[['Asset Management' 38.0 23.0 46975]
 ['Customer Service' 26.0 10.0 30711]
 ['Human Resources' 40.93617021276596 14.0 25049]
 ['Public Relations' 40.93617021276596 12.0 33309]
 ['Customer Service' 40.93617021276596 13.0 25274]
 ['Advertising' 40.93617021276596 9.0 48583]
 ['Research and Development' 40.93617021276596 24.0 39697]
 ['Asset Management' 40.93617021276596 2.0 24163]
 ['Legal Department' 40.0 30.0 17160]
 ['Advertising' 24.0 23.0 35218]
 ['Legal Department' 35.0 3.0 10378]
 [nan 31.0 15.781609195402298 18054]
 [nan 58.0 15.781609195402298 20950]
 [nan 51.0 15.781609195402298 27707]
 [nan 27.0 15.781609195402298 18543]
 [nan 54.0 15.781609195402298 16556]
 [nan 55.0 15.781609195402298 24624]
 ['Media Relations' 58.0 15.781609195402298 26379]
 ['Research and Development' 59.0 15.781609195402298 28668]
 ['Media Relations' 45.0 4.0 47896]
 ['Sales and Marketing' 50.0 2.0 10446]
 ['Advertising' 55.0 19.0 47970]
 ['Tech Support' 40.0 20.0 38705]
 ['Advertising' 51.0 21.0 44061]
 ['Media Relations' 24.0 12.0 47644]
 ['Asset Management' 57.0 25.0 44466]
 ['Legal Department' 24.0 9.0 43138]
 ['Public Relations' 46.0 6.0 17115]
 ['Asset Management' 29.0 26.0 26752]
 ['Customer Relations' 46.0 13.0 38742]
 ['Quality Assurance' 30.0 29.0 27207]
 ['Accounting' 57.0 15.781609195402298 16580]
 [nan 47.0 15.781609195402298 39835]
 [nan 41.0 15.781609195402298 14005]
 [nan 50.0 15.781609195402298 32971]
 ['Public Relations' 49.0 15.781609195402298 13493]
 ['Customer Relations' 28.0 6.0 42173]
 ['Public Relations' 44.0 29.0 13707]
 ['Finances' 40.0 19.0 47709]
 ['Advertising' 30.0 25.0 28008]
 ['Finances' 56.0 21.0 34554]
 ['Accounting' 26.0 24.0 19193]
 ['Finances' 44.0 16.0 30316]
 ['Payroll' 36.0 28.0 46823]
 ['Tech Support' 43.0 24.0 35938]
 ['Finances' 47.0 15.0 39658]
 ['Finances' 29.0 11.0 31321]
 ['Customer Service' 52.0 7.0 39403]
 ['Customer Relations' 42.0 23.0 14700]
 ['Tech Support' 44.0 5.0 45923]
 ['Finances' 23.0 8.0 41753]
 ['Payroll' 57.0 16.0 36226]
 ['Asset Management' 40.0 9.0 20730]
 ['Media Relations' 28.0 24.0 12302]
 ['Advertising' 53.0 7.0 27565]
 ['Accounting' 56.0 3.0 28177]
 ['Customer Relations' 48.0 20.0 19573]
 ['Customer Service' 54.0 7.0 23919]
 ['Media Relations' 37.0 2.0 23086]
 ['Advertising' 57.0 8.0 47216]
 ['Human Resources' 50.0 17.0 16601]
 ['Legal Department' 46.0 9.0 29830]
 ['Media Relations' 28.0 3.0 48433]
 ['Legal Department' 26.0 14.0 38495]
 ['Payroll' 54.0 11.0 45829]
 ['Public Relations' 31.0 18.0 30211]
 ['Legal Department' 33.0 2.0 24889]
 ['Media Relations' 48.0 27.0 46795]
 ['Quality Assurance' 41.0 20.0 45694]
 ['Human Resources' 44.0 1.0 31188]
 ['Tech Support' 38.0 28.0 43094]
 ['Accounting' 34.0 11.0 19770]
 ['Quality Assurance' 28.0 27.0 11400]
 ['Advertising' 23.0 23.0 21172]
 ['Customer Relations' 52.0 12.0 33047]
 ['Finances' 33.0 22.0 37592]
 ['Human Resources' 45.0 28.0 22892]
 ['Legal Department' 37.0 30.0 23638]
 ['Research and Development' 26.0 27.0 36547]
 ['Asset Management' 54.0 19.0 19984]
 ['Tech Support' 51.0 29.0 49148]
 ['Quality Assurance' 26.0 20.0 29873]
 ['Accounting' 26.0 10.0 14492]
 ['Customer Service' 35.0 4.0 22641]
 ['Sales and Marketing' 38.0 23.0 23241]
 ['Tech Support' 33.0 14.0 15562]
 ['Advertising' 38.0 17.0 43610]
 ['Accounting' 43.0 21.0 13862]
 ['Accounting' 32.0 7.0 31156]
 ['Media Relations' 32.0 15.0 28937]
 ['Human Resources' 51.0 7.0 16570]
 ['Public Relations' 25.0 4.0 16767]
 ['Asset Management' 58.0 23.0 29678]
 ['Accounting' 41.0 25.0 24453]
 ['Finances' 25.0 24.0 10540]
 ['Tech Support' 52.0 16.0 17756]
 ['Customer Relations' 52.0 3.0 31886]
 ['Quality Assurance' 30.0 5.0 39812]
 ['Research and Development' 32.0 27.0 30742]
 ['Quality Assurance' 46.0 24.0 30128]]

In [ ]:

from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imputer=SimpleImputer().fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])
print(x)

[['Asset Management' 38.0 23.0 46975]
 ['Customer Service' 26.0 10.0 30711]
 ['Human Resources' 40.93617021276596 14.0 25049]
 ['Public Relations' 40.93617021276596 12.0 33309]
 ['Customer Service' 40.93617021276596 13.0 25274]
 ['Advertising' 40.93617021276596 9.0 48583]
 ['Research and Development' 40.93617021276596 24.0 39697]
 ['Asset Management' 40.93617021276596 2.0 24163]
 ['Legal Department' 40.0 30.0 17160]
 ['Advertising' 24.0 23.0 35218]
 ['Legal Department' 35.0 3.0 10378]
 [nan 31.0 15.781609195402298 18054]
 [nan 58.0 15.781609195402298 20950]
 [nan 51.0 15.781609195402298 27707]
 [nan 27.0 15.781609195402298 18543]
 [nan 54.0 15.781609195402298 16556]
 [nan 55.0 15.781609195402298 24624]
 ['Media Relations' 58.0 15.781609195402298 26379]
 ['Research and Development' 59.0 15.781609195402298 28668]
 ['Media Relations' 45.0 4.0 47896]
 ['Sales and Marketing' 50.0 2.0 10446]
 ['Advertising' 55.0 19.0 47970]
 ['Tech Support' 40.0 20.0 38705]
 ['Advertising' 51.0 21.0 44061]
 ['Media Relations' 24.0 12.0 47644]
 ['Asset Management' 57.0 25.0 44466]
 ['Legal Department' 24.0 9.0 43138]
 ['Public Relations' 46.0 6.0 17115]
 ['Asset Management' 29.0 26.0 26752]
 ['Customer Relations' 46.0 13.0 38742]
 ['Quality Assurance' 30.0 29.0 27207]
 ['Accounting' 57.0 15.781609195402298 16580]
 [nan 47.0 15.781609195402298 39835]
 [nan 41.0 15.781609195402298 14005]
 [nan 50.0 15.781609195402298 32971]
 ['Public Relations' 49.0 15.781609195402298 13493]
 ['Customer Relations' 28.0 6.0 42173]
 ['Public Relations' 44.0 29.0 13707]
 ['Finances' 40.0 19.0 47709]
 ['Advertising' 30.0 25.0 28008]
 ['Finances' 56.0 21.0 34554]
 ['Accounting' 26.0 24.0 19193]
 ['Finances' 44.0 16.0 30316]
 ['Payroll' 36.0 28.0 46823]
 ['Tech Support' 43.0 24.0 35938]
 ['Finances' 47.0 15.0 39658]
 ['Finances' 29.0 11.0 31321]
 ['Customer Service' 52.0 7.0 39403]
 ['Customer Relations' 42.0 23.0 14700]
 ['Tech Support' 44.0 5.0 45923]
 ['Finances' 23.0 8.0 41753]
 ['Payroll' 57.0 16.0 36226]
 ['Asset Management' 40.0 9.0 20730]
 ['Media Relations' 28.0 24.0 12302]
 ['Advertising' 53.0 7.0 27565]
 ['Accounting' 56.0 3.0 28177]
 ['Customer Relations' 48.0 20.0 19573]
 ['Customer Service' 54.0 7.0 23919]
 ['Media Relations' 37.0 2.0 23086]
 ['Advertising' 57.0 8.0 47216]
 ['Human Resources' 50.0 17.0 16601]
 ['Legal Department' 46.0 9.0 29830]
 ['Media Relations' 28.0 3.0 48433]
 ['Legal Department' 26.0 14.0 38495]
 ['Payroll' 54.0 11.0 45829]
 ['Public Relations' 31.0 18.0 30211]
 ['Legal Department' 33.0 2.0 24889]
 ['Media Relations' 48.0 27.0 46795]
 ['Quality Assurance' 41.0 20.0 45694]
 ['Human Resources' 44.0 1.0 31188]
 ['Tech Support' 38.0 28.0 43094]
 ['Accounting' 34.0 11.0 19770]
 ['Quality Assurance' 28.0 27.0 11400]
 ['Advertising' 23.0 23.0 21172]
 ['Customer Relations' 52.0 12.0 33047]
 ['Finances' 33.0 22.0 37592]
 ['Human Resources' 45.0 28.0 22892]
 ['Legal Department' 37.0 30.0 23638]
 ['Research and Development' 26.0 27.0 36547]
 ['Asset Management' 54.0 19.0 19984]
 ['Tech Support' 51.0 29.0 49148]
 ['Quality Assurance' 26.0 20.0 29873]
 ['Accounting' 26.0 10.0 14492]
 ['Customer Service' 35.0 4.0 22641]
 ['Sales and Marketing' 38.0 23.0 23241]
 ['Tech Support' 33.0 14.0 15562]
 ['Advertising' 38.0 17.0 43610]
 ['Accounting' 43.0 21.0 13862]
 ['Accounting' 32.0 7.0 31156]
 ['Media Relations' 32.0 15.0 28937]
 ['Human Resources' 51.0 7.0 16570]
 ['Public Relations' 25.0 4.0 16767]
 ['Asset Management' 58.0 23.0 29678]
 ['Accounting' 41.0 25.0 24453]
 ['Finances' 25.0 24.0 10540]
 ['Tech Support' 52.0 16.0 17756]
 ['Customer Relations' 52.0 3.0 31886]
 ['Quality Assurance' 30.0 5.0 39812]
 ['Research and Development' 32.0 27.0 30742]
 ['Quality Assurance' 46.0 24.0 30128]]

In [ ]:

type(x)

numpy.ndarray