In [1]:
pip install pandas numpy matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (2.0.2)
Requirement already satisfied: matplotlib in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (3.9.4)
Requirement already satisfied: pytz>=2020.1 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (6.5.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: packaging>=20.0 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (24.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: pillow>=8 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: zipp>=3.1.0 in /Users/sharvitkashikar/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.21.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:

import pandas as pd

In [15]:

data={

      'ID': [1,2,3,4,5,6],
      'Name': ['mrudul','sharvit','ameya','avinya','Nandini','chandra'],
      'Age' : [22,21,20,20,20,21],
      'Country' : ['Maharashtra','Tamil Nadu','Kerala','Goa','Uttar Pradesh','Madhya Pradesh'],
      'Sales': [2400,4250,1300,8100,15800,4030]

}

In [16]:

df=pd.DataFrame(data)

print("Orginal Dataset")
print(df)

Orginal Dataset
   ID     Name  Age         Country  Sales
0   1   mrudul   22     Maharashtra   2400
1   2  sharvit   21      Tamil Nadu   4250
2   3    ameya   20          Kerala   1300
3   4   avinya   20             Goa   8100
4   5  Nandini   20   Uttar Pradesh  15800
5   6  chandra   21  Madhya Pradesh   4030

In [18]:

df['Name_Upper']=df['Name'].str.upper()

print("Dataset after adding new column")
print(df[['ID','Name','Name_Upper']])

Dataset after adding new column
   ID     Name Name_Upper
0   1   mrudul     MRUDUL
1   2  sharvit    SHARVIT
2   3    ameya      AMEYA
3   4   avinya     AVINYA
4   5  Nandini    NANDINI
5   6  chandra    CHANDRA

In [19]:

df_copy1=df.copy()
df_copy2=df.copy()

df_copy1['Sales'] *= 1.1
df_copy2['Age'] += 5

print("\nMulticast (Modified Copies):")
print("Copy 1 (Sales Increased):")
print(df_copy1)
print("\nCopy 2 (Age Increased):")
print(df_copy2)

Multicast (Modified Copies):
Copy 1 (Sales Increased):
   ID     Name  Age         Country    Sales Name_Upper
0   1   mrudul   22     Maharashtra   2640.0     MRUDUL
1   2  sharvit   21      Tamil Nadu   4675.0    SHARVIT
2   3    ameya   20          Kerala   1430.0      AMEYA
3   4   avinya   20             Goa   8910.0     AVINYA
4   5  Nandini   20   Uttar Pradesh  17380.0    NANDINI
5   6  chandra   21  Madhya Pradesh   4433.0    CHANDRA

Copy 2 (Age Increased):
   ID     Name  Age         Country  Sales Name_Upper
0   1   mrudul   27     Maharashtra   2400     MRUDUL
1   2  sharvit   26      Tamil Nadu   4250    SHARVIT
2   3    ameya   25          Kerala   1300      AMEYA
3   4   avinya   25             Goa   8100     AVINYA
4   5  Nandini   25   Uttar Pradesh  15800    NANDINI
5   6  chandra   26  Madhya Pradesh   4030    CHANDRA

In [20]:

high_sales=df[df['Sales']>300]
low_sales=df[df['Sales']<=300]
print("\nConditional Split:")
print("High Sales:")
print(high_sales)
print("\nLow Sales:")
print(low_sales)

Conditional Split:
High Sales:
   ID     Name  Age         Country  Sales Name_Upper
0   1   mrudul   22     Maharashtra   2400     MRUDUL
1   2  sharvit   21      Tamil Nadu   4250    SHARVIT
2   3    ameya   20          Kerala   1300      AMEYA
3   4   avinya   20             Goa   8100     AVINYA
4   5  Nandini   20   Uttar Pradesh  15800    NANDINI
5   6  chandra   21  Madhya Pradesh   4030    CHANDRA

Low Sales:
Empty DataFrame
Columns: [ID, Name, Age, Country, Sales, Name_Upper]
Index: []

In [21]:

agg_df=df.groupby('Country')['Sales'].sum().reset_index()
print("\nAggregation:")
print(agg_df)

Aggregation:
          Country  Sales
0             Goa   8100
1          Kerala   1300
2  Madhya Pradesh   4030
3     Maharashtra   2400
4      Tamil Nadu   4250
5   Uttar Pradesh  15800

In [22]:

sorted_df=df.sort_values(by='Sales',ascending=False)
print("\nSorted Data:")
print(sorted_df)

Sorted Data:
   ID     Name  Age         Country  Sales Name_Upper
4   5  Nandini   20   Uttar Pradesh  15800    NANDINI
3   4   avinya   20             Goa   8100     AVINYA
1   2  sharvit   21      Tamil Nadu   4250    SHARVIT
5   6  chandra   21  Madhya Pradesh   4030    CHANDRA
0   1   mrudul   22     Maharashtra   2400     MRUDUL
2   3    ameya   20          Kerala   1300      AMEYA

In [23]:

df['Sales_Category']=df['Sales'].apply(lambda x: 'High' if x>300 else 'Low')
print("\nDerived Column (Sales Category):")
print(df[['ID','Name','Sales','Sales_Category']])

Derived Column (Sales Category):
   ID     Name  Sales Sales_Category
0   1   mrudul   2400           High
1   2  sharvit   4250           High
2   3    ameya   1300           High
3   4   avinya   8100           High
4   5  Nandini  15800           High
5   6  chandra   4030           High